html, body {
  width: 100%;
  height: 100%;
}

.mainHeading {
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding-bottom: 40px;
}

.jobcount {
  display: inline-flex;
  gap: 1rem;
  p {
    padding: 5px;
  }
}

.spinner {
  justify-content: center;
  align-self: center;
  width: 25px;
  height: 25px;
}

.spinner::after {
  /*empty content for it to exist*/
  content: "";
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  /*define size*/
  height: 20px;
  width: 20px;
  /*define shape*/
  border-radius: 50%;
  border:4px solid;
  /*make parts of border transparent*/
  border-color: currentColor transparent currentColor transparent;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  from {
  transform: rotate(0deg);
}
  to {
  transform: rotate(360deg);
}
}


.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-style: italic;
}

.job-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  align-items: center;
  justify-self: center;
  row-gap: 20px;
  padding: 20px;
  max-width: 96%;
}

.job-searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
  max-width: 1000px;
  max-width: 95%;
  margin: auto;
  margin-top: 20px;
}
.job-searchInput {
  display: flex;
  align-items: center;
  gap: 5px;
  input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
  }
}

.job-item {
  flex-direction: column;
  justify-self: center;
  max-height: 120px;
  max-width: 95%;
  background: #303030;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow:
    rgba(0, 0, 0, 0.9) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.96) 0px 2px 4px -1px;
  a {
    text-decoration: none;
    color: #f1f1f1;
  }
}

.job-item:hover {
  transform: scale(1.02);
  transition: 0.1s;
}

.job-heading {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: start;
    text-wrap: wrap;
  gap: 10px;
  p:first-child {
    font-size: 25px;
  }
  .job-desc {
    padding-right: 20px;
    padding-bottom: 20px;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
}

.job-split {
  display: flex;
  justify-content: space-between;
}

.job-company {
  flex: 1;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  color: black;
  font-size: 25px;
  font-weight: 900;
  background-color: white;

  p {
    margin: 0px;
  }
}

.job-logo {
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: white;

  img {
    height: inherit;
    max-width: 400px;
  }
}

body {
  background: #212121;
  color: #f1f1f1;
  font-family: Roboto;
}

p {
  margin: 0px;
}

@media (max-width: 700px) {
.job-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.job-logo {
  img {
    max-width: 150px;
  }
}
.job-item {
    width: 100%;
    margin: auto;
    align-self:center
  }
.job-company {
    height: 35px;
    font-size: 20px;
}
.job-heading {
  gap: 5px;

  p {
    font-size: 20px;
  }
}
}
