html {
  min-width: 450px;
  width: 100%;
  margin:0;
  padding:0;
}

body {
  background: #212121;
  width: 100%;
  color: #f1f1f1;
  font-family: Roboto;
  margin:0;
  padding:0;
}

.mainHeading {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-bottom: 40px;
}

.jobcount {
  display: inline-flex;
  gap: 1rem;
  p {
    padding: 0.3rem;
  }
}

.spinner {
  justify-content: center;
  align-self: center;
  width: 25px;
  height: 25px;
}

.spinner::after {
  /*empty content for it to exist*/
  content: "";
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  /*define size*/
  height: 20px;
  width: 20px;
  /*define shape*/
  border-radius: 50%;
  border:4px solid;
  /*make parts of border transparent*/
  border-color: currentColor transparent currentColor transparent;
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  from {
  transform: rotate(0deg);
}
  to {
  transform: rotate(360deg);
}
}


.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-style: italic;
}

.job-container {
  display: grid;
  margin-block: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  justify-self: center;
  row-gap: 2rem;
  width: 95%;
  max-width: 100rem;
}

.job-searchbar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 1rem;
  max-width: 95%;
  margin: auto;
  margin-top: 20px;
}
.job-searchInput {
  display: flex;
  align-items: center;
  gap: 5px;
  input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    outline: none;
  }
}

.job-item {
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 95%;
  justify-self: center;
  background: #303030;
  padding: 10px 10px 0px 10px ;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.9) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.96) 0px 2px 4px -1px;
  a {
    text-decoration: none;
    color: #f1f1f1;
  }
}

.job-item:hover {
  transform: scale(1.02);
  transition: 0.1s;
}

.job-heading {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: start;
    text-wrap: wrap;
  gap: 10px;
  p:first-child {
    font-size: 1.3rem;
  }
  .job-desc {
    padding-right: 20px;
    text-wrap: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9rem;
  }
}

.job-split {
  display: flex;
}

@media (max-width:600px) {
  .job-split {
    display: grid;
    gap: 1rem;
    min-width: 95%;
  }

  .job-company {
    max-height: 3rem;
    height: 10rem;
  }
  .job-logo {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.job-company {
  flex: 1;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  color: black;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: white;
}

.job-logo {
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: white;
  max-width: 20rem;
}

img {
  height: inherit;
  max-width: 20rem;
}



p {
  margin: 0px;
}

@media (max-width: 450px) {
  .job-logo {
    height: 5rem;
  }
}

@media (max-width: 700px) {
.job-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.job-logo {
  justify-self: center;
  justify-content: center;
  width: 95%;
  margin-bottom: 1rem;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
}

body {
  font-size: 16px;
}

/* Pienet näytöt (esim. puhelimet) */
@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* Keskikokoiset näytöt (esim. tabletit) */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* Suuret näytöt (esim. tietokoneet) */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
